{% extends 'layout.html' %}

{% block header %}

        <h1>{% block title %}
                {% if success %}
                    Password Changed Successfully
                {% else %}
                    Change Your Password
                {% endif %}
            {% endblock %}
        </h1>

{% endblock %}

{% block content %}
    {% if success %}
        <form class="p-5" method="POST" action="/auth/password/success">
            <input type="submit" value="submit" name="submit">
        </form>
    {% else %}
        <form class="pb-5" method="POST" action="/auth/password/change">
        <div class="txt_field" >
            <input type="password" name="password" required>
            <span></span>
            <label>New Password</label>
        </div>
        <div class="txt_field" >
            <input type="password" name="password_confirm" required>
            <span></span>
            <label>Re-Type New Password</label>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages and PASSVerificationerror %}
                {% for msg in messages %}
                <div class="wornmessage" >{{msg}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <input type="submit" value="Change" name="change">
    
        </form>
    {% endif %}
{% endblock %}