{% extends 'layout.html' %}

{% block header %}
    <h1>{% block title %}Enter Your Email{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form class="pb-5" method="POST" action="/auth/password/send_code">
        <div class="txt_field">
            <input type="text" name="email" id="email" required>
            <span></span>
            <label>Email </label>
        </div>

        {% with messages = get_flashed_messages() %}
            {% if messages and emailnotFound %}
                {% for msg in messages %}
                <div class="wornmessage" >{{msg}}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <input type="submit" value="Send Verification Code" name="send_verification_code" >

    </form>
{% endblock %}