<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} - CPD</title>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp">
        <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

        {% block styles %}{% endblock %}
        <style>
            body {
              background-image: url("{{ url_for('static',filename='images/login_bg.jpg') }}") ;
              background-repeat: no-repeat;
              background-size: 100%;
            }
        </style>
    </head>
</head>
<body class="auth">
    <div class="center-form">
        {% block header %}{% endblock %}
        {% block content %}{% endblock %}
    </div>
</body>
</html>